/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common CSS */
body {
  font-family: "Poppins", sans-serif;
}

.btn-orange {
  background-color: #e76f51;
}

.btn-outline-orange {
  border-color: #e76f51;
  color: #e76f51;
}

.btn-outline-orange:hover {
  background-color: #e76f51;
  color: white;
}

.color-orange {
  color: #e76f51;
}

.image-gray {
  filter: grayscale(100%);
}

.section-title {
  font-size: 42px;
}

/* Header part */

header {
  background-color: #264653;
}

.header-text {
  color: #e0e0e0;
  font-size: 14px;
}

/* News Section */
.item {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
